extends base_template

block content
    article
        h2 Aplikacja Pozalająca dodawać zwierzaki
        section
            h3 ZOO
            p Wykorzystane technologie
                ul
                li.text silnik PUG,
                li.text sesja PASSPORT,
                li.text REST API - NodeJS i ExpressJS,
                li.text MongoDB wraz z Mongoose.
                li.text NodeMailer
            p Po założeniu konta konieczna jest jego aktywacja poprzez kliknięcie linku aktywacyjnego, otrzymanego w wiadomości email.